/*  
 * Author/GitHub: https://github.com/Renan-Mochizuki/Customized-YouTube-CSS
*/

:root {
  --colorloadingpageprogress: linear-gradient(to left, rgb(255, 196, 0), red 40%, rgb(41, 0, 123));
  --colorvolumeleft: linear-gradient(45deg, rgb(50, 0, 151), rgb(142, 142, 255));
  --colorvolumeright: linear-gradient(45deg, rgb(168, 168, 255), rgb(50, 0, 151) 10%, rgb(24, 0, 71) 50%);
  --colorthumbprogress: linear-gradient(to right, rgb(86, 0, 30), red 55%, rgb(212, 6, 143));
  --colorvideoprogress: linear-gradient(to right, rgb(86, 0, 30), red 55%, rgb(212, 6, 143));
  --colorrainbow: linear-gradient(
    rgba(248, 13, 27, 1) 0%,
    rgba(255, 160, 0, 1) 11%,
    rgba(255, 227, 2, 1) 22%,
    rgba(0, 250, 34, 1) 33%,
    rgba(0, 169, 238, 1) 44%,
    rgba(159, 0, 255, 1) 55%,
    rgba(0, 169, 238, 1) 66%,
    rgba(0, 250, 34, 1) 77%,
    rgba(255, 227, 2, 1) 88%,
    rgba(248, 13, 27, 1) 100%
  );
  --colorvideoprogresscursor: rgb(212, 6, 143);
  --shadowvideoprogresscursor: 0 0 8px 2px rgb(168, 125, 255);
  --shadowbuttons: rgba(245, 245, 245, 0.612);
  --shadowtitles: violet;
  --shadowgeneral: whitesmoke;
  --circlechannelpicture: gold;
  --colornotification: #cc0000;
  --speedrainbowanimation: 6s;
  --imgyoutubeicon: url('https://i.imgur.com/9n4AS59.png'); /* Unknown Artist */
  --imguser: url('https://cdn0.iconfinder.com/data/icons/cryptocurrency-137/128/1_profile_user_avatar_account_person-132-1024.png');
  --imgplaylisticon: url('https://cdn2.iconfinder.com/data/icons/css-vol-2/24/play-list-1024.png');
  --imgclockicon: url('https://cdn1.iconfinder.com/data/icons/material-core/21/history-1024.png');
  --timeshortsclosing: 1s;
  --timeshortsopening: 0.2s;
  --timeheaderclosing: 0.1s;
  --timeheaderopening: 0.3s;

  --textshortsreminder: 'Hover to see Shorts';

  /* If you don't want a notification circle at the corner of your profile, change it to 0 */
  --shownotificationcircle: 1;
  /* If you don't want Shorts in video page to be hidden, change it to 1 */
  --neverhideshorts: 0;
  /* If you don't want the youtube header to be hidden, change it to 1 */
  --neverhideheader: 0;
}

@keyframes animationcolorrainbow {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 0% 230%;
  }
}

/* HEADER AND HOME */
/* Youtube Logo */
#logo-icon {
  content: var(--imgyoutubeicon);
  background-image: none;
  width: 47px;
  height: 30px;
  margin-left: 5px;
}

/* Removing logo country code */
#country-code {
  display: none;
}

/* Only showing youtube special/events logo when side bar is open */
#content:has(tp-yt-app-drawer:not([opened])) ytd-topbar-logo-renderer #logo {
  content: url('https://i.imgur.com/9n4AS59.png');
  background-image: none;
  max-width: 47px;
  width: 47px;
  min-width: 47px;
  height: 30px;
  margin-left: 15px;
  transition: 0.5s all ease;
}
#content:has(tp-yt-app-drawer[opened]) ytd-topbar-logo-renderer #logo {
  content: '' !important;
  background-image: none;
  max-width: 47px;
  min-width: 47px;
  height: 30px;
  margin-left: 5px;
}

/* Three line button (side bar) */
#guide-button.ytd-app {
  min-width: 40px;
}

/* Open virtual keyboard button (search bar) */
.gsst_a {
  filter: opacity(10%);
  margin-right: 5px;
}
.gsst_a:hover {
  filter: drop-shadow(0px 0px 1px var(--shadowgeneral)) opacity(100%);
  transition: 0.5s all ease;
}

/* Shadow on search bar */
#search form {
  filter: drop-shadow(0px 0px 1px var(--shadowgeneral));
}

/* Search button */
#search-icon-legacy {
  box-shadow: 0px 0px 2px var(--shadowgeneral);
  transition: all ease 0.15s;
  transition-property: transform, filter;
}
#search-icon-legacy:hover {
  transform: scale(1.05) translate(1px);
  filter: drop-shadow(0px 0px 2px var(--shadowbuttons));
}

/* Removing search button tooltip  */
#tooltip {
  display: none;
}

/* Voice search button */
#voice-search-button {
  filter: opacity(0%);
  transition-duration: 0.3s;
  transition-property: filter;
}

#voice-search-button:hover {
  filter: opacity(100%);
}

/* Clear search button */
#search-clear-button .yt-spec-button-shape-next--icon-only-default {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

/* Page loading progress */
yt-page-navigation-progress #progress {
  background-image: var(--colorloadingpageprogress) !important;
}

/* Three line button animation */
#guide-button {
  filter: opacity(0%);
  transition-duration: 1s;
  transition-property: filter;
}
#start:hover #guide-button,
#guide-content #header:hover #guide-button {
  filter: opacity(100%);
}
ytd-topbar-logo-renderer {
  left: -50px;
  transition-duration: 0.5s;
  transition-property: left;
  position: relative;
}
#start:hover ytd-topbar-logo-renderer,
#guide-content #header:hover ytd-topbar-logo-renderer {
  left: 0px;
}

/* Profile buttons animation */
ytd-notification-topbar-button-renderer {
  position: relative;
  display: block;
  left: 58px;
  transition-duration: 0.5s;
  transition-property: left, z-index, filter;
  filter: opacity(0%);
  z-index: -1;
}
ytd-topbar-menu-button-renderer[has-no-text],
#end #buttons > ytd-button-renderer:first-child {
  position: relative;
  display: block;
  left: 108px;
  transition-duration: 0.5s;
  transition-property: left, z-index, filter;
  filter: opacity(0%);
  z-index: -1;
}
ytd-notification-topbar-button-renderer:has(.yt-spec-icon-badge-shape__badge) ~ ytd-topbar-menu-button-renderer::after {
  content: '';
  position: absolute;
  background-color: var(--colornotification);
  width: calc(var(--shownotificationcircle) * 9px);
  height: calc(var(--shownotificationcircle) * 9px);
  border-radius: 100%;
  border: 1px solid black;
  right: 27px;
  top: 9px;
  transition: 0.4s filter;
}
#end:hover ytd-notification-topbar-button-renderer,
ytd-app:has(ytd-popup-container tp-yt-iron-dropdown:not([aria-hidden='true']) #spinner) #content ytd-notification-topbar-button-renderer {
  left: 0px;
  z-index: 1;
  filter: opacity(100%);
}
#end:hover #buttons > ytd-button-renderer:first-child,
ytd-app:has(ytd-popup-container tp-yt-iron-dropdown:not([aria-hidden='true']) #spinner) #content #buttons > ytd-button-renderer:first-child {
  left: 0px;
  z-index: 1;
  filter: opacity(100%);
}
#end:hover ytd-topbar-menu-button-renderer::after,
ytd-app:has(ytd-popup-container tp-yt-iron-dropdown:not([aria-hidden='true']) #spinner) #content ytd-topbar-menu-button-renderer::after {
  filter: opacity(0%);
}

/* Margin home videos box */
ytd-browse[page-subtype='home'] #contents {
  margin-top: 10px;
}

/* Remove chips when the sidebar is not minimized */
tp-yt-app-drawer[opened] ~ ytd-page-manager #header ytd-feed-filter-chip-bar-renderer:not(:has(yt-dropdown-menu)) {
  display: none;
}
#frosted-glass:has(~ tp-yt-app-drawer[opened]) {
  max-height: 56px;
}

/* Center videos on the subscriptions page */
ytd-rich-grid-row #contents {
  justify-content: center;
}

/* Rainbow on the side */
ytd-app:not(:has(ytd-watch-flexy[fullscreen])):before {
  width: 3px;
  height: 100%;
  content: '';
  position: fixed;
  z-index: 10000;
  background-image: var(--colorrainbow);
  background-size: 3px 180%;
  animation: animationcolorrainbow var(--speedrainbowanimation) infinite linear reverse;
}

/* PLAYER */
/* Video progress bar */
.ytp-play-progress {
  background-image: var(--colorvideoprogress);
}

/* Thumbnail progress bar */
#progress.ytd-thumbnail-overlay-resume-playback-renderer {
  background-image: var(--colorthumbprogress);
}

/* Progress cursor */
.ytp-scrubber-button.ytp-swatch-background-color {
  background: var(--colorvideoprogresscursor);
  box-shadow: var(--shadowvideoprogresscursor);
}

/* Left volume bar */
.ytp-volume-slider-handle:before {
  background: var(--colorvolumeleft);
  z-index: -1;
}

/* Right volume bar */
.ytp-volume-slider-handle:after {
  background: var(--colorvolumeright);
  z-index: -1;
}

/* Player border */
#player video {
  border-radius: 10px;
}
.html5-video-player.ytp-fit-cover-video {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Channel icon animation in the corner of the player */
.annotation-type-custom.iv-branding {
  filter: opacity(0%);
  transition-property: filter;
  transition-duration: 0.3s;
}
.annotation-type-custom.iv-branding:hover {
  filter: opacity(100%);
}

/* Remove the message from the icon in the corner of the player */
.branding-context-container-inner.ytp-rounded-branding-context {
  display: none;
}

/* VIDEO PAGE */
/* Video title */
h1 yt-formatted-string[force-default-style] {
  text-shadow: 1px 1px 3px var(--shadowtitles);
}
yt-formatted-string[force-default-style]:hover {
  text-shadow: 0px 0px 1px var(--shadowgeneral);
  backdrop-filter: blur(10px);
  transition: 0.2s ease-in;
}

/* Channel name in videos */
#upload-info #channel-name #container #text-container {
  text-shadow: 1px 1px 1px var(--shadowtitles);
}
#text a:hover {
  text-shadow: 0px 0px 1px var(--shadowgeneral);
  transition: 0.2s ease-in;
}

/* General shadow for buttons */
#menu .ytd-watch-metadata #top-level-buttons-computed > .ytd-menu-renderer,
#owner #subscribe-button,
#flexible-item-buttons ytd-button-renderer {
  box-shadow: 0px 0px 2.5px var(--shadowbuttons);
  border-radius: 25px;
  margin-right: 2px;
}

/* Three dots button */
yt-button-shape[version='modern'].ytd-menu-renderer button {
  box-shadow: 0px 0px 4px var(--shadowbuttons);
  border-radius: 25px;
}

/* Ensure the general shadow of video buttons is not cut off */
#actions-inner #menu .ytd-watch-metadata {
  padding: 5px;
}

/* Glow effect on like and dislike buttons */
#segmented-like-button,
#segmented-dislike-button,
.YtLikeButtonViewModelHost,
.YtDislikeButtonViewModelHost {
  filter: drop-shadow(0px 0px 5px var(--shadowbuttons));
}

/* Profile icon */
#avatar {
  transition-duration: 0.5s;
  transition-property: transform, filter;
}
#avatar:hover {
  filter: drop-shadow(0px 0px 1.5px var(--circlechannelpicture));
  transform: scale(1.1);
}

/* Description */
#bottom-row #description {
  background-color: transparent;
}

/* View count text in the description */
#description-inner #info span {
  text-shadow: 1px 1px 3px var(--shadowtitles);
}

/* Show more text in the description */
#description-inline-expander #expand {
  margin-left: -5px;
  text-shadow: 0px 0px 2px var(--shadowtitles);
  padding: 2px;
  border-radius: 10px;
}

/* Show less text in the description */
#description-inline-expander #collapse {
  margin-top: -2px;
  text-shadow: 0px 0px 2px var(--shadowtitles);
  border-radius: 10px;
  font-size: 16px;
}

/* Remove shorts from the description */
#description #items ytd-reel-shelf-renderer {
  display: none;
}

/* Remove themes from the video page */
yt-related-chip-cloud-renderer {
  display: none;
}
ytd-watch-next-secondary-results-renderer #contents {
  margin-top: -8px;
}

/* Remove the border from the side playlist */
ytd-playlist-panel-renderer#playlist > #container {
  border: none;
  border-bottom: 1px var(--shadowbuttons) solid;
}

/* Hide shorts on the video page and show on hover */
#items ytd-reel-shelf-renderer #contents {
  position: relative;
  display: block;
  max-height: calc(500px * var(--neverhideshorts));
  opacity: var(--neverhideshorts);
  z-index: calc(10 * var(--neverhideshorts) - 5);
  transition: max-height 0.6s ease, opacity 0.6s, z-index 0.6s;
  transition-delay: var(--timeshortsclosing);
}
#items ytd-reel-shelf-renderer:hover #contents {
  max-height: 500px;
  opacity: 1;
  z-index: 5;
  transition-delay: var(--timeshortsopening);
}
#items ytd-reel-shelf-renderer #title-container::after {
  content: var(--textshortsreminder);
  font-size: 12px;
  filter: opacity(100%);
  transition-duration: 0.6s;
  transition-property: filter;
  transition-delay: var(--timeshortsclosing);
}
#items ytd-reel-shelf-renderer:hover #title-container::after {
  filter: opacity(0%);
  transition-delay: var(--timeshortsopening);
}

/* Hide header when the screen height is small */
@media screen and (max-height: 37.5em) {
  #masthead-container {
    opacity: var(--neverhideheader);
    transition: opacity 0.3s ease var(--timeheaderclosing);
  }
  /* When the header has hover or focus on searchbox */
  #masthead-container:hover,
  #masthead-container:has(ytd-searchbox[has-focus]),
  #masthead-container:has(~ tp-yt-app-drawer[opened]) {
    opacity: 1;
    transition: opacity 0.3s ease var(--timeheaderopening);
  }
  ytd-page-manager#page-manager {
    transition-duration: 0.3s;
    transition-property: margin-top;
    transition-delay: var(--timeheaderopening);
  }
  #masthead-container:not(:has(~ tp-yt-app-drawer[opened])):not(:hover):not(:has(ytd-searchbox[has-focus])) ~ ytd-page-manager#page-manager {
    margin-top: calc(var(--ytd-toolbar-height) * var(--neverhideheader)) !important;
    transition-delay: var(--timeheaderclosing);
  }
  #header ytd-feed-filter-chip-bar-renderer {
    display: none;
  }
  #masthead-container:not(:hover) ~ ytd-page-manager tp-yt-app-header {
    --ytd-toolbar-offset: 0px !important;
  }
  ytd-watch-flexy > #columns > div {
    padding-top: 5px !important;
  }
  /* #ytd-player video{
    top: 0px !important;
  }  */
  #frosted-glass {
    display: none;
  }
}

/* PLAYLIST */
/* Share and three dots buttons in playlist */
.metadata-buttons-wrapper .ytd-playlist-header-renderer yt-button-shape {
  box-shadow: 0px 0px 5px var(--shadowbuttons);
  border-radius: 25px;
  margin-left: 2px;
}

/* Playlist title */
.ytd-playlist-header-renderer #text,
#header-description h3 {
  font-family: Calibri;
  text-shadow: 0px 0px 2px black;
  filter: drop-shadow(0px 0px 3px var(--shadowgeneral));
}

/* Channel name in playlist */
.metadata-action-bar .metadata-text-wrapper .metadata-owner #owner-text a::before {
  background-image: var(--imguser);
  filter: invert(1);
  background-size: 14px 15px;
  display: inline-block;
  width: 14px;
  height: 15px;
  content: '';
  margin-right: 5px;
}

/* Edit button on the playlist page */
.thumbnail-and-metadata-wrapper #edit-button {
  opacity: 5%;
  transition: 0.2s;
}
.thumbnail-and-metadata-wrapper #edit-button button {
  background-color: transparent;
}
.thumbnail-and-metadata-wrapper #edit-button:hover {
  opacity: 100%;
}

/* Move the playlist up on the page */
ytd-playlist-header-renderer.ytd-browse {
  margin-top: -10px;
}
ytd-two-column-browse-results-renderer[page-subtype='playlist'] #primary {
  margin-top: -20px;
}

/* Adding margin to the playlist warning */
ytd-browse[page-subtype='playlist'] ytd-alert-with-button-renderer[is-displayed] {
  margin-bottom: 10px;
}

/* Hiding views from Watch Later and Liked Videos playlists */
ytd-inline-form-renderer[hidden]
  ~ .metadata-action-bar
  .metadata-text-wrapper:has(~ .metadata-buttons-wrapper ytd-button-renderer[hidden]:nth-child(2))
  .metadata-stats
  yt-formatted-string:nth-child(4) {
  display: none;
}

/* Ensuring the correct size of the Watch Later playlist name */
yt-dynamic-sizing-formatted-string:not([hidden]) #text {
  font-size: 2.8em;
}

/* LIBRARY */
/* Playlist title */
#video-title.ytd-grid-playlist-renderer,
.yt-lockup-metadata-view-model-wiz__title span {
  font-family: Calibri;
  text-shadow: 0px 0px 2px black;
  filter: drop-shadow(0px 0px 3px var(--shadowgeneral));
  font-size: 18px;
}

/* View full playlist button */
#details #view-more a,
.yt-content-metadata-view-model-wiz__metadata-row span[style='font-weight: 500;'] a {
  font-size: 15px;
  margin-top: 5px;
}
#details #view-more a::before,
.yt-content-metadata-view-model-wiz__metadata-row span[style='font-weight: 500;'] a::before {
  background-image: var(--imgplaylisticon);
  filter: invert(1);
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: '';
  position: relative;
  top: 5px;
}

/* Last updated message */
.ytd-grid-playlist-renderer #metadata-line span::before,
.yt-content-metadata-view-model-wiz.yt-content-metadata-view-model-wiz--medium-text div:nth-child(2):nth-last-child(2) span::before {
  background-image: var(--imgclockicon);
  filter: invert(1);
  background-size: 12px 12px;
  display: inline-block;
  width: 12px;
  height: 12px;
  content: '';
  margin-right: 2px;
}

/* Name of channel */
.ytd-grid-playlist-renderer #channel-name #text a:first-child::before,
.yt-content-metadata-view-model-wiz__metadata-row span:first-child span[style='font-weight: 400;'] a::before {
  background-image: var(--imguser);
  filter: invert(1);
  background-size: 11px 12px;
  display: inline-block;
  width: 11px;
  height: 12px;
  content: '';
  margin-right: 3px;
}
